<html lang="">

<head>

    <title>Seventy-Three</title>
    <Content-Type: text/html; charset=utf-8/>
    <!--    EXTERNAL-->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!--    MAIN-->
    <link rel="stylesheet" type="text/css" href="css/main.css">



</head>

<body ng-app="app">
    <pick-select></pick-select>


    <!--    ANGULAR-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.0-rc5/angular-material.min.js">
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
    <script src="js/main.js"></script>

</body>

</html>