body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.display {
    margin: 20px;
}

md-select {
    min-width: 100px;
}

.team-select {
    min-width: 300px;
}

.stats {
    top: 10px;
    right: 100px;
    position: fixed;
    /*    border: 2px solid black;*/
}

.win {
    background-color: green;
}

.win p {
    color: white;
}

.sub-line p {
    margin-right: 5px;
}

.inputs md-input-container {
    padding-bottom: 2px;
}

circle {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.chord path {
    fill-opacity: .80;
}

.description {
    max-height: 500px;
    padding: 15px;
}

.description p {}

.divider {
    margin-bottom: 10px;
}

.title {
    font-size: 3em;
    font-weight: 100 !important
}