/*body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.display {
    margin: 20px;
}

md-select {
    min-width: 100px;
}

.team-select {
    min-width: 300px;
}

.stats {
    top: 10px;
    right: 100px;
    position: fixed;
        border: 2px solid black;
}

.win {
    background-color: green;
}

.win p {
    color: white;
}

.sub-line p {
    margin-right: 5px;
}

.inputs md-input-container {
    padding-bottom: 2px;
}

circle {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
}

.chord path {
    fill-opacity: .80;
}

.description {
    max-height: 500px;
    padding: 15px;
}

.description p {}

.divider {
    margin-bottom: 10px;
}

.title {
    font-size: 3em;
    font-weight: 100 !important
}*/

.inner-label {
	font-family: 'Aniron', cursive;
	font-size: 1.0rem;
	fill: #232323;
	cursor: default;
}

.elvish-outer-label {
	font-family: 'Elvish', cursive;
	font-size: 4rem;
	fill: #e2e2e2;
	cursor: default;
}
.dwarfish-outer-label {
	font-family: 'Dwarfish', cursive;
	font-size: 4rem;
	fill: #e2e2e2;
	cursor: default;
}

.outer-label {
	font-family: 'Aniron', cursive;
	font-size: 1.1rem;
	fill: #5f5f5f;
	cursor: default;
}

.outer-label-value {
	font-family: 'Bilbo', serif;
  	font-size: 1.3rem;
  	fill: #878787;
}

.ring-text {
	font-family: 'Elvish', cursive;
	font-size: 2rem;
	fill: #da6f0b;
	opacity: 0.3;
	text-anchor: middle;
}
